<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="seccion === 'empleados'" (click)="seccion = 'empleados'">Empleados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="seccion === 'departamentos'" (click)="seccion = 'departamentos'">Departamentos</a>
    </li>
  </ul>

  <div class="mt-4">
    <ng-container *ngIf="seccion === 'empleados'">
      <app-empleado-lista></app-empleado-lista>
    </ng-container>

    <ng-container *ngIf="seccion === 'departamentos'">
      <app-departamento-lista></app-departamento-lista>
    </ng-container>
  </div>
</div>

