<div class="card shadow-sm rounded">
  <div class="card-body">
    <h3 class="text-center mb-4">
      <i class="bi bi-people-fill me-2"></i> Empleados Registrados
    </h3>

    <div class="table-responsive">
      <table class="table table-bordered table-striped align-middle text-center">
        <thead class="table-light">
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.codigo }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido1 }}</td>
            <td>{{ empleado.apellido2 }}</td>
            <td>
              <span class="badge bg-info">{{ empleado.codigo_departamento }}</span>
            </td>
            <td>
              <button class="btn btn-primary btn-sm me-2" (click)="editar(empleado._id!)">
                Editar
              </button>
              <button class="btn btn-danger btn-sm" (click)="eliminar(empleado._id!)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





