<div class="container mt-5">
  <div class="card shadow-sm mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <h4 class="card-title mb-4 text-center">Crear nuevo empleado</h4>

      <form [formGroup]="form" (ngSubmit)="guardar()">
        <div class="mb-3">
          <label for="codigo" class="form-label">Código</label>
          <input id="codigo" formControlName="codigo" type="number" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input id="nombre" formControlName="nombre" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="apellido1" class="form-label">Apellido 1</label>
          <input id="apellido1" formControlName="apellido1" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="apellido2" class="form-label">Apellido 2</label>
          <input id="apellido2" formControlName="apellido2" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="codigo_departamento" class="form-label">Departamento</label>
          <input id="codigo_departamento" formControlName="codigo_departamento" type="number" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Guardar</button>
      </form>
    </div>
  </div>
</div>

